.modal-backdrop {
    /*visibility: visible;*/
    /*opacity: 1;*/
    background-color: rgba(0, 0, 0, 0.6);
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}    
.modal-container{
    position: relative;
    /*display: none;*/
    display: block;
    /*position: fixed;*/

    width: (100% - 1rem);
    max-width: 40rem;
    /*margin: calc(50vh - 13.4rem) calc(50vw - 50%);*/
    margin: calc(33vh - 6.5rem) calc(50vw - 50%);
    padding: 2rem 0.5rem;
    background-color: #333;
    -webkit-box-shadow: 0 0 0 3px #555;
    box-shadow: 0 0 0 2px #beffff;
    border-radius: 5px;
    /*overflow: hidden;*/
    overflow-y: auto;
    max-height: calc(100vh - 2rem);
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

#add-task-content {
    transform: translateY(-1000px);
    transition: transform 0.3s ease-in-out;
}

#add-task-content.show {
    transform: translateY(0px);
}

#add-project-content{
    margin: calc(45vh - 7.5rem) calc(50vw - 50%);
    padding: 2.5rem 0;
}

#delete-modal, #delete-all-modal {
    position: relative;
    top: 8%;
}

.modal-container:focus{
    -webkit-box-shadow: 0 0 0 1px #111, 0 0 0 2px #555, 0 0 0 4px #eee;
    box-shadow: 0 0 0 1px #111, 0 0 0 2px #555, 0 0 0 4px #eee;
}
.modal-close { 
    /*z-index: 102;*/
    display: inline-block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: aliceblue;
    background-color: rgba(0,0,0,0);
    border: none;
    /*padding: 0.9rem;*/
    /*margin-left: calc(95% - 2.7rem);*/
    /*margin-right: 0;*/
    margin-top: -2.2rem;
}



.modal__close svg, .modal__close-png {
    width: 100%;
    height: 100%;
    filter: invert(13%) sepia(12%) saturate(1874%) hue-rotate(330deg) brightness(99%) contrast(87%);
}

.modal__close svg:hover, .modal__close-png:hover {
    filter: invert(13%) sepia(12%) saturate(1874%) hue-rotate(330deg) brightness(0%) contrast(87%);   
}

.modal__close image {
    width: 100%;
    height: 100%;
}

.modal-header {
    /*display: inline-block; */
    margin: 0 auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.text-field {
    position: relative;
    display: block;
    width: 85%;
    max-width: 26rem;
    height: 2.8rem;
    margin: 0rem auto;
    margin-bottom: 1rem;
    background-color: #eee;
    border: solid 1.5px #beffff; 
    border-radius: 5px;
    padding-left: 0.6rem;
    font-size: 1.05rem;
    /*right: 0.5rem; */
    font-family: 'Raleway', sans-serif;
}

.text-field:disabled {
    background-color: #333;
    color: #eee;
    border: none;
    border-bottom: 1px solid #beffff;
    border-radius: 0px;
    /* text-align: center; */
}

.form-label {
    position: relative;
    left: 0.5rem;
}

#task-details-date-label {
    display: block;
}

#date-label{
    display: block;
    margin: 0;
    margin-bottom: 1rem;
}
.datetime-field{
    margin: 0;
    margin-bottom: 0rem;
    display: inline-block;
    margin-left: 0;
    max-width: 12.5rem;
}
#add-task-date-field{

    margin-bottom: 1rem;
}
#add-task-time-field{
    /*display: inline;*/
    margin-bottom: 0;
}

#add-project-field-div {
    /* max-width: 24rem; */
}

#add-project-title-field{
    margin-bottom: 2rem;
    position: relative;
    top: 0.5rem;
    max-width: 20rem;
}

.text-field:focus {
    background-color: #fcfae0;
    -webkit-box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000;
    box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000;
}

.text-field.invalid {
    background-color: #fcc;
}

#add-task-description-field{
    padding-top: 0.5rem;
    height: 6rem;
}

#task-details-description-field {
    padding-top: 0.5rem;
}

.modal-error-message{
    display: block;
    position: relative;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 1.0rem;
    /* width: 85%; */
    max-width: 26rem;
    margin: 0.8rem auto;
    color: rgb(255, 190, 190);
}

#add-project-field-div .modal-error-message {
    max-width: 20rem;
}

.select-container, .date-time-container{
    /*position: relative;*/
    /*right: 2%;*/
    width: 85%;
    max-width: 26rem;
    /*height: 2.8rem;*/
    padding: 0rem 0;
    margin: 0rem auto;
    margin-bottom: 2rem;
}

.date-time-container{
    margin-bottom: 1rem;
}

.form-select{
    font-family: 'Raleway', sans-serif;
    outline: none;
    border-radius: 5px;
    /*border: ;*/
    height: 2rem;
    font-size: 1.05rem;
    /*margin: 0.3rem;*/

}
.form-select:hover{

}
.form-select:focus{

}
.form-select:disabled {
    background-color: #333;
    color: #eee;
    border: none;
    text-align: center;
}

select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.form-label{
    display: inline-block;
    position: relative;
    font-size: 1.05rem;   
    bottom: 0rem;
    margin-bottom: 0.4rem;
}

.form-label:hover{
    text-shadow: 0 0 0.1px #111;
}

#task-details-priority-label {
    left: 0;
}

.form-submit {
    display: block;
    width: 82%;
    max-width: 16rem;
    height: 3rem;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    margin: 1rem auto;
    background-color: #dfd;
    color: #111;
    outline: none;
    border-radius: 5px;
}

#add-project-submit {
    position: relative;
    top: 1rem;
}

#add-task-submit:hover {
    border: 1px solid #beffff;
    background-color: rgb(175, 224, 175);
}


.modal-paragraph {
    width: 90%;
    max-width: 28.5rem;
    margin: 1.5rem auto;
    text-align: center;
}

#remove-all{
    text-transform: uppercase;
    color: #922;
    text-shadow: 0 0 0.2px #922;
}

#delete-all-warning{
    font-size: 1rem;
    color: #922;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem auto;
    margin-bottom: 1rem;
    width: 85%;
    max-width: 20rem;
}

#delete-modal-button, #delete-all-modal-button {
    position: relative;
    margin: 0 auto;
    left: 0.5rem;
    background-color: #af0b0b;
    color: white;
    width: 42%;
    border: none;
}

#delete-modal-button:hover, #delete-all-modal-button:hover {
    background-color: #bf1b1b; 
    /*color: #111;*/
    text-shadow: 1px 1px 0 #111;
}


#cancel-modal-button, #cancel-all-modal-button {
    position: relative;
    margin: 0 auto;
    margin-right: 1rem;
    padding: 0.2rem 0.3rem;
    right: 0.3rem;
    width: 42%;
    background-color: #c0c0c0;
    color: #141414;
    border: none;
    font-size: 1rem;
}

#cancel-modal-button:hover, #cancel-all-modal-button:hover {
    background-color: #b0b0b0;
    text-shadow: 0 0 0.1px #111;
}
@media screen and (min-width: 545px){
    #add-task-date-field{    
        margin-bottom: 0rem;
    }
    .modal-container {
        margin: calc(48vh - 16rem) calc(50vw - 50%);
    }
    #add-project-content{
        margin: calc(48vh - 7.5rem) calc(50vw - 16rem);
    }
}
@media screen and (min-width: 650px){
    .modal-container{
        margin: calc(48vh - 16rem) calc(50vw - 20rem);
    }
}   