.main-header{
    z-index: 10;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 3.5rem;
    background-color: rgba(20, 20, 20, 1);
    /*color: rgb(20, 20, 20);*/
}


.main-nav {
    position: static;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
}

#nav-title {
    display: inline-block;
    position: relative;
    bottom: 0.1rem;
    font-family: 'Cormorant Garamond', serif;
    margin-left: 1rem;
    font-size: 2.1rem;
    color: #beffff;
    /*text-shadow: 1px 1px 0px #050;*/
    /* text-shadow: 1px 1px 1.5px gray, -1px -1px 0px rgba(255, 255, 255, 0.4); */

}

#nav-menu {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    /* padding: 0.125rem;     */
    color: #0a020a;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 2px solid #beffff; 
    font-family: 'Lato', sans-serif;
    outline: none;
    vertical-align: middle;
    text-transform: uppercase;
    /* filter: invert(95%) sepia(3%) saturate(6314%) hue-rotate(164deg) brightness(106%) contrast(109%); */
}

#nav-menu:active {
    /*border: 3px solid rgba(250, 250, 250, 0.5);*/
}

#nav-menu:focus {

}

#nav-menu:hover {
    cursor: pointer;
}

#nav-menu[aria-expanded="true"] {
    -webkit-box-shadow: 0px 0px 0px 0.5px #fff9b5, 0px 0px 0px 1px #FFC9B8, 0px 0px 1px 1px #ffc580; 
    box-shadow: 0px 0px 0px 0.5px #fff9b5, 0px 0px 0px 1px #FFC9B8, 0px 0px 1px 1px #ffc580;
    background-color: rgba(255, 255, 255, 0.103);
}

#nav-menu-img {
    position: relative; 
    width: 2.75rem;
    height: 2.75rem;
    top: 0.03rem;
}

.nav-items {
    z-index: 20;
    position: fixed;
    display: block;
    left: 0;
    top: 0rem;
    font-size: 1.05rem;
    width: 12rem;
    height: calc(100vh);
    padding: 0;
    margin: 0;
    /*padding-top: calc(50vh - 6rem);*/
    padding-top: 1rem;
    color: #eff7ff;
    background-color: rgb(30, 30, 30);
    transform: translate(-15rem);
    transition: visibility 0.2s ease-in, transform 0.2s ease-in;
    visibility: hidden;
    overflow-y: auto;
}

#nav-backdrop{
    z-index: 20;
}

.nav-items.show {
    visibility: visible;
    transform: translate(0rem);
}

.nav-item-container {
    color: aliceblue;
}

.nav-item-container:hover, .nav-item-container.settings-active {
    background-color: rgba(255, 255, 255, 0.103);
    color: #b3f8f8;
}

.nav-item {
    font-family: 'Raleway', sans-serif;
    display: block;
    background-color: rgba(219, 244, 251, 0); 
    color: inherit;
    padding: 0.75rem 0.7rem;
    text-align: left;
    font-size: 1.05rem;
    /*margin: 0 auto;*/
    width: 100%;
    height: 4rem;
    cursor: pointer;
    opacity: 1;
    text-transform: uppercase;
    /*border-bottom: solid 1px #beffff;*/
    border: none;
}

.nav-item:focus {
    -webkit-box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000;
    box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000;
    /*padding-right: 2.5rem;*/
}

#projects-button {
    display: inline-block;
    width: 7rem;
}

#add-project-button {
    position: relative;
    top: 0.5rem;
    width: 3rem;
    height: 3rem;
    float: right;
    right: 0.5rem;
    border-radius: 50%;
    border: none;
    color: rgb(180, 255, 180);
    background-color: transparent;
    font-size: 2.5rem;
}

#add-project-button:hover {
    cursor: pointer;
    color: rgb(140, 212, 140);
}

.projects-items{
    display: block;
    width: 100%;
    height: auto;
    max-height: 0;
    background-color: rgba(51, 51, 51);
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    border-top: solid 0px #beffff00;
    border-bottom: solid 0px #beffff00;
    transition: max-height 0.15s ease-in, padding 0.15s ease-in, border 0.2s ease-in;
    /* transition: border-top 0.15s ease, border-bottom 0.15s ease; */
}
.projects-items.show{
    max-height: 100rem;
    display: block;
    padding: 0.5rem 0;
    visibility: visible;
    opacity: 1;
    border-top: solid 1px #beffff;
    border-bottom: solid 1px #beffff;
   
}

.projects-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.projects-item-container:hover, .projects-item-container.settings-active{
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.projects-item{
    position: relative;
    display: block;
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 7.4rem;
    padding: 0.7rem 0.3rem;
    padding-right: 0.3rem;
    left: 0.8rem;
    font-size: 1rem;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-150px);
    transition: all 0.15s ease-in;
    overflow-wrap: break-word;
}

.projects-item.show {
    visibility: visible;
    transform: translateX(0px);
    opacity: 1;
} 

.projects-item:hover {
    cursor: pointer;
}

.projects-item-button-container{
    width: 3.1rem;
}

.projects-item-button {
    position: relative;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    color: rgb(245, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin: 0;
    right: 0.5rem;
    /* visibility: hidden; */
    opacity: 0;
    transition: all 0.15s ease-in;
}

.projects-item-delete{
    display: none;
}

.projects-item-button.show, .projects-item-button.modal-active, .projects-item-button.settings-active {
    /* visibility: visible; */
    opacity: 1;
} 

.projects-item-button:hover {
    cursor: pointer;
}

.projects-item-button-icon {
    position: relative;
    height: 1.6rem;
    width: 1.6rem;
    /*margin-right: 0.3rem;*/
    /*top: 0.1rem;*/
    filter: invert(91%) sepia(3%) saturate(1683%) hue-rotate(193deg) brightness(104%) contrast(105%);
}

.delete-projects-icon.trash-image{
    filter: invert(91%) sepia(3%) saturate(1683%) hue-rotate(193deg) brightness(104%) contrast(105%);
}

.projects-item-settings-container{
    z-index: 1000;
    position: fixed;
    background-color: white;
    color: #111;
    font-size: 1.1rem;
}

.settings-menu {
    z-index: 2000;
    position: fixed;
    top: 0;
    padding: 0.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(178, 216, 216, 0.938); 
    box-shadow: 0px 0px 1px 1px rgba(178, 216, 216, 0.938);
}

.settings-menu-item {
    padding: 0.8rem 0;
    padding-left: 0.5rem;
    text-align: left;
    width: 7.5rem;
    border-radius: 5px;
}

.settings-menu-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

#settings-delete {
    color: rgb(255, 131, 131);
}

/*breakpoints*/

@media screen and (min-width: 780px) {
    .main-header{
        /*background-color: rgba(67, 67, 71, 0.05);*/
        /*-webkit-box-shadow: 0px 1.5px 0px 0px rgba(255, 255, 255, 0); box-shadow: 0px 1.5px 0px 0px rgba(255, 255, 255, 0);*/
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.507);
        /*height: 5.75rem;*/
        /*padding-top: 2rem;*/
        /*padding-bottom: 2rem;*/
        transition: all 0.15s ease-in;
        /*background: linear-gradient(180deg, rgba(29, 29, 31, 0.801), transparent);*/
    }
    .main-nav{
        position: static;
        width: 100%;
        /*max-width: 40rem;*/
        padding: 0 1.5rem;
        padding-right: 0.8rem;
        /*justify-content: space-between;*/
    }
    #nav-title{
        left: 0;
        font-size: 2.5rem;
        transition: all 0.15s ease-in;
    }

    .nav-margin{

    }
    #nav-menu{
        /*display: none;*/
    }
    .nav-items{
        /*transition: visibility 0s ease-in, transform 0s ease-in;*/
        /*visibility: visible;*/
        /*opacity: 1;*/
        /*transform: translate(0);*/
    }
    .nav-items li{
        /*display: inline;*/
    }
    .nav-item{
        /*display: inline;*/
        /*padding: 0.9rem 0rem;*/
        /*margin: 0 0.9rem;*/

    }
    .nav-item:focus{
        /*padding-right: 0.3rem;*/

    }
}

@media screen and (min-width: 950px) {
    #nav-backdrop{
        display: none;
    }
    .nav-items {
        top: 3.5rem;
    }
}

@media screen and (min-width: 1100px) {
    .main-nav {
        /*max-width: 80rem;*/
    }
    .nav-items{
        width: 17.5rem;
    }
    .nav-item {
        font-size: 1.2rem;
    }
    .projects-item{
        width: 9.5rem;
        font-size: 1.1rem;
    }
    .projects-item-button-container{
        width: 6.3rem;
    }
    .projects-item-delete {
        display: inline-block;
    }
}
